Flask
opencv-python
pytesseract
Pillow
pyttsx3
SpeechRecognition
numpy
opencv-python
gunicorn
wikipedia
warnings 
scikit-learn
google.generativeai
requests
webbrowser
os
cv2
PIL
ctypes
comtypes
